body {
    background-color: lightblue;
    margin: 0;
    text-align: center;
    background-color: #AAADBF
}

#results {
    margin-bottom: 80px;
    
}

canvas {
    width: 75%;
    border: 2px solid white;
    height: 400px;
}

.chart-container {
    margin-left: 150px;
    position: relative;
    height: 30vh; 
    width: 84vw;
    
} 
