@import url('https://fonts.googleapis.com/css?family=Lato|Sigmar+One&display=swap');

body {
    box-sizing: border-box;
    background-color: #AAADBF;
    font-family:"Lato", sans-serif;
    font-size: 22px;
    margin: 0;
} 

.header {
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: #A4B8BF;
    padding: 5px;
} 

h1 {
    font-family: "Sigmar One", sans-serif;
    font-size: 48px;
    margin-bottom: -10px;
}

.image-container {
    margin-top: 50px;
    border: 1px solid white;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    font-size: 24px;
    text-align: center;
   
}

#button-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
       
}

button {
    border: 1px solid white;
    padding: 20px 50px 20px 50px;
    width: 175px;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    background-color: #D9C6BF;
}

button:hover {
    color: white;
    background-color: #BF8A8A;
    box-shadow: inset 0 0 0 5px #A4B8BF;
}

img {
    height: 300px;
    width: 300px;
    border: 5px solid #A4B8BF;
    padding: 30px;
    background-color: #D9A5A0;
    
}

img:hover {
    
        box-shadow:
                1px 1px #BF8A8A,
                2px 2px #BF8A8A,
                3px 3px #BF8A8A;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
               
}


footer {
    position: fixed;
    background-color: #A4B8BF;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    margin-top: 75px;
    text-align: center;
    font-size: 16px;
}

#footerspan {
    margin-left: 15px;
}


